@model Razor.Models.Product

@{
    ViewBag.Title = "DemoExpresion";
}

<table>
    <thead>
        <tr><th>Właściwość</th><th>Wartość</th></tr>
    </thead>
    <tbody>
        <tr><td>Nazwa</td><td>@Model.Name</td></tr>
        <tr><td>Cena</td><td>@Model.Price</td></tr>
        <tr><td>Ilość w magazynie</td><td>@ViewBag.ProductCount</td></tr>
    </tbody>
</table>

<div data-discount="@ViewBag.ApplyDiscount" data-express="@ViewBag.ExpressShip"
     data-supplier="@ViewBag.Supplier">
    Element posiada atrybuty danych
</div>

Rabat:<input type="checkbox" checked="@ViewBag.ApplyDiscount" />
Express:<input type="checkbox" checked="@ViewBag.ExpressShip" />
Dostawca:<input type="checkbox" checked="@ViewBag.Supplier" />

